	@font-face { font-family: NotoSansCJK; src: url('font/NotoSansCJKtc-Regular.otf'); }
	body, a{
		color: #fff;
	}
	div {
		font-family: NotoSansCJK;
		
	}
	h1 {
		font-size:50px;
	}
	
	#homepage{
		background-image: url(theme.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	#about {
		background-color: #000;
	}
	#education {
		background-color: #fc3d39;
	}
	#skill {
		background-color: #fd9426;
	}
	#certificate {
		background-color: #fecb2e;
	}
	#project {
		background-color: #53d769;
	}
	#leadership {
		background-color: #147efb;
	}
	#contact {
		color: #000;
	}
	#url {
		height: 2em;
		width: 2em;
	}
	
	.profile {
		top: 10px;
		width: 250px;
	}
	.corner_title{
		position:absolute;
		bottom:0;
		right:0;
		font-size: 150px;
		opacity: 0.5;
	}
	.title {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
	}
	.line {
		border: 0;
		background-color: #FFFFFF;
		height: 4px;
		color: white;
	}	
	.fixed-item {
		position:absolute;
	}
	.contact_img {
		height: 150px; 
		width: 150px;
	}